@charset "UTF-8";

.hamburger {
	position: fixed;
	right: 5%;
	top: 5%;
}

.main{
	background-color: #CCFFFF;
	z-index: -1;
}

.background-color {
	min-height: 100vh;
	text-align: center;
	margin: center;
	height: auto;
	padding: 5% 0;
	background: transparent;
}

body {
	font-family: DotGothic16 !important;
}

h1 {
	margin-left: auto;
	margin-right: auto;
	text-aline: center;
	border: 3px solid #ccc;
	padding: 25px;
	width: 360px;
	border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
	display: block;
	animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
	background: url(../img/ico-apple.svg) no-repeat center center/60px auto;
	transition: 1.5s ease-in-out;
}

@keyframes fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(-7deg);
  }
  50% {
    transform:translate(0, -7px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(7deg);
  }
}
.image {
	display: flex;
	justify-content: center;
	margin: 5% 0;
}

.sum {
	margin-left: auto;
	margin-right: auto;
	text-aline: center;
	border: 3px solid #ccc;
	border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
	display: inline-block;
	padding: 20px;
	margin-top: 20px;
}

.yearMonth {
	padding-bottom: .1em;
	border-bottom: 3px solid #ccc;
	margin: 10px;
}

table {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #ccc;
}

td {
	overflow-y: auto;
	display: inline-block;
	height: 70px;
	width: 150px;
	padding: 10px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.remarks {
	width: 425px !important;
}

thead {
	border-bottom: 3px solid #ccc;
	margin: 10px;
	font-weight: bold;
}

.search {
	margin: 3% 0;
}

.balanceId0 td:nth-child(2) {
	color: #FF3333;
}

.balanceId1 td:nth-child(2) {
	color: #4689FF;
}

table tr td{
	padding-top: 23px;
}

.btn {
	padding-top: 0px !important;
}

table td:nth-child(4) {
	width: 350px;
	/* text-align: left; */
	white-space: pre-wrap;
}

table tbody td:nth-child(4) {
	text-align: left;
	padding-top: 11px !important;
}

select {
	background-color: transparent;
	padding: 5px;
	border-radius: 10px;
	border: solid 2px #ccc;
}

.search-form input {
	background-color: transparent;
	padding: 5px 15px;
	border-radius: 10px;
	border: solid 2px #ccc;
}

.errorMessages {
	margin: 50px;
	padding-left: 0;
	font-size: 20px;
}

ul {
	list-style: none;
}

div.pager {
	text-align: center;
	margin: 1.2em 0;
}

div.pager span {
	display: inline-block;
	width: 2.0em;
	height: 2.0em;
	border-radius: 30px;
	line-height: 2.0;
	text-align: center;
	cursor: pointer;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

div.pager span.number {
	background: transparent;
	color: black;
}

div.pager span.active {
	background: #FFBEDA;
	color: black;
}

/*========= particle js を描画するエリア設定 ===============*/
html, body {
	height: 100%; /*高さを100%にして描画エリアをとる*/
}

#particles-js {
	position: fixed; /*描画固定*/
	z-index: 0; /*描画を一番下に*/
	height: 100%;
	width: 100%;
	background-color: #CCFFFF;
}

#wrapper {
	position: relative; /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
	z-index: 1; /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
	width: 100%;
	height: 100%;
}}