@charset "UTF-8";

body {
	font-family: DotGothic16 !important;
	list-style: none;
	height: 100%;/*高さを100%にして描画エリアをとる*/
}
.main{
	background-color: #CCFFFF;
	z-index: -1;
}
.background-color {
	min-height: 100vh;
	text-align: center;
	margin: center;
	height: auto;
	padding: 5% 0;
	display: block;
	width: 100%;
	background: transparent;
}

/* ハンバーガーメニュー */
.hamburger {
	position: fixed;
	right: 5%;
	top: 5%;
	z-index: 10;
}
/* ハンバーガーメニュー */

h1 {

	text-aline: center;
	border: 3px solid #ccc;
	padding: 25px;
	width: 450px;
	border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
	display: inline-block;
	animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
	background: url(../img/ico-apple.svg) no-repeat center center/60px auto;
	transition: 1.5s ease-in-out;}

@keyframes fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(-7deg);
  }
  50% {
    transform:translate(0, -7px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(7deg);
  }
}

.image {
	display: flex;
	justify-content: center;
	margin: 5% 0;
}

.userinfo {
	border: 3px solid #ccc;
	border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
	display: inline-block;
	padding: 20px;
	margin-right: 5%;
}

h2 {
	padding-bottom: .1em;
	border-bottom: 3px solid #ccc;
	display: inline-block;
}

footer{
	margin-top:50px;
	font-size:14px;
}

.sum {
	position: relative;
	right: -6%;
	text-aline: center;
	border: 3px solid #ccc;
	border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
	display: inline-block;
	padding: 20px;
	margin-top: 50px;
}

.yearMonth {
	padding-bottom: .1em;
	border-bottom: 3px solid #ccc;
	display: inline-block;
}

.search-form input {
	background-color: transparent;
	padding: 5px 15px;
	border-radius: 10px;
	border: solid 2px #ccc;
}

.search-message{
	margin:1rem auto;
}

.chart-message{
	margin:60px auto;
}

select {
	background-color: transparent;
	padding: 5px;
	border-radius: 10px;
	border: solid 2px #ccc;
}


/*========= レイアウトのためのCSS ===============*/

#wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}

a{
  color: #333;
}

/*========= particle js を描画するエリア設定 ===============*/

html,body{
  height: 100%;/*高さを100%にして描画エリアをとる*/

}

#particles-js{
  position:fixed;/*描画固定*/
  z-index:0;/*描画を一番下に*/
  height: 100%;
  width: 100%;
  background-color: #CCFFFF;
}

#wrapper{
  position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width:100%;
  height: 100%;
}
