@charset "UTF-8";

body {
	font-family: DotGothic16 !important;
	list-style: none;
	height: 100%;/*高さを100%にして描画エリアをとる*/
}


ul {
	list-style: none;
}
.background-color {
	min-height: 100vh;
	text-align: center;
	margin: center;
	height: auto;
	padding: 5% 0;
	display: block;
	width: 100%;
	background: transparent;
}

/* ハンバーガーメニュー */
.hamburger {
	position:fixed;
	right:5%;
	top: 5%;
}
/* ハンバーガーメニュー */

.main {
	width: 40%;
	margin: 0 auto;
}

label {
	padding-top: 2%;
}

h1 {
	margin-left: auto;
	margin-right: auto;
	text-aline: center;
	border: 3px solid #ccc;
	padding: 25px;
	width: 450px;
	border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
	display: block;
	animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
	background: url(../img/ico-apple.svg) no-repeat center center/60px auto;
	transition: 1.5s ease-in-out;
}

@keyframes fuwafuwa {
  0% {
    transform:translate(0, 0) rotate(-7deg);
  }
  50% {
    transform:translate(0, -7px) rotate(0deg);
  }
  100% {
    transform:translate(0, 0) rotate(7deg);
  }
}

/*========= レイアウトのためのCSS ===============*/

a{
  color: #333;
}

/*========= particle js を描画するエリア設定 ===============*/

html,body{
  height: 100%;/*高さを100%にして描画エリアをとる*/

}

#particles-js{
  position:fixed;/*描画固定*/
  z-index:0;/*描画を一番下に*/
  height: 100%;
  width: 100%;
  background-color: #CCFFFF;
}

#wrapper{
  position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width:100%;
  height: 100%;
}
