<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>明細一覧</title>

<link rel="stylesheet" type="text/css" href="./css/details.css">

<link href="https://fonts.googleapis.com/earlyaccess/kokoro.css"
	rel="stylesheet">

<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Fredoka+One"
	rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap"
	rel="stylesheet">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>
</head>
<body>
	<div class="main">
		<div id="particles-js"></div>
		<div id="wrapper">
			<div class="background-color">
				<div th:each="loginUser : ${loginUser}">
					<div class="hamburger">
						<div class="btn-group">
							<button type="button" class="btn btn-success dropdown-toggle"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">Menu</button>
							<div class="dropdown-menu">
								<form th:action="@{/}" method="get">
									<button class="dropdown-item" value="button">Top</button>
								</form>
								<form th:action="@{/details}" method="get">
									<button class="dropdown-item" value="button">明細一覧</button>
								</form>
								<form th:action="@{/NewCalculate/{id}(id=${loginUser.id})}"
									method="get">
									<button value="button" class="dropdown-item">収支登録</button>
								</form>
								<form th:action="@{/EditUser/{id}(id=${loginUser.id})}"
									method="get">
									<button value="button" class="dropdown-item">ユーザー編集</button>
								</form>
								<div class="dropdown-divider"></div>
								<form th:action="@{/Logout}" method="get">
									<button class="dropdown-item" value="button">ログアウト</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<ul class="text-danger">
					<li th:each="sessionErrorMessages : ${sessionErrorMessages}"
						th:text="${sessionErrorMessages}"></li>
				</ul>
				<h1>&#127800;明細一覧&#127800;</h1>

				<form th:action="@{/details}" th:method="get"
					class="search-form search">
					<select name="selectYear">
						<th:block th:each="searchYear : ${searchYears}">
							<option th:value="${searchYear}" th:text="${searchYear}+'年'"></option>
						</th:block>
					</select> <select name="selectMonth">
						<option value="01">1月</option>
						<option value="02">2月</option>
						<option value="03">3月</option>
						<option value="04">4月</option>
						<option value="05">5月</option>
						<option value="06">6月</option>
						<option value="07">7月</option>
						<option value="08">8月</option>
						<option value="09">9月</option>
						<option value="10">10月</option>
						<option value="11">11月</option>
						<option value="12">12月</option>
					</select> <input type="submit" value="絞込" />
				</form>
				<table class="mytable">
					<thead>
						<tr>
							<td>日付</td>

							<td>金額</td>

							<td>収支カテゴリー</td>

							<td class="remarks">備考</td>

							<td></td>

							<td></td>
						</tr>
					</thead>

					<tbody>
						<tr class="balance-details" th:each="detail:${details}"
							th:object="${formModel}"
							th:class="${'balanceId'+detail.balanceId}">
							<td th:text="${#dates.format(detail.date,'yyyy/MM/dd')}"
								class="detail-date"></td>
							<td
								th:text="${#numbers.formatInteger(detail.amount,1,'COMMA')}+円"
								class="detail-amount"></td>
							<td th:text="${detail.category}" class="detail-category"></td>
							<td class="remarks" th:text="${detail.text}"></td>
							<td>
								<form
									th:action="@{/EditCalculate/{id}(id=${detail.categoryId})}"
									th:method="get" class="search-form">
									<div th:if="${detail.balanceId}==0">
										<input type="hidden" value="0" name="calculateId" /> <input
											type="submit" value="編集" class="btn btn-outline-primary" />
									</div>
									<div th:if="${detail.balanceId}==1">
										<input type="hidden" value="1" name="calculateId" /> <input
											type="submit" value="編集" class="btn btn-outline-primary" />
									</div>
								</form>
							</td>
							<td>
								<form th:action="@{/delete/{id}(id=${detail.categoryId})}"
									th:method="get" class="search-form">
									<div th:if="${detail.balanceId}==0">
										<input type="hidden" value="0" name="calculateId" /> <input
											type="submit" value="削除"
											class="btn btn-outline-danger delete" />
									</div>
									<div th:if="${detail.balanceId}==1">
										<input type="hidden" value="1" name="calculateId" /> <input
											type="submit" value="削除"
											class="btn btn-outline-danger delete" />
									</div>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
				<th:block th:if="${details.size()}>1">
					<form id="csvform" method="post" th:action="@{/details.csv}"
						th:object="${csvForm}">
						<div th:each="detail:${details}">
							<input type="hidden" name="date"
								th:value="${#dates.format(detail.date,'yyyy/MM/dd')}" />
							<th:block th:if="${detail.balanceId}==0">
								<input type="hidden" name="calculateName" th:value="${'支出'}" />
							</th:block>
							<th:block th:if="${detail.balanceId}==1">
								<input type="hidden" name="calculateName" th:value="${'収入'}" />
							</th:block>
							<input type="hidden" name="category"
								th:value="${detail.category}" /> <input type="hidden"
								name="amount" th:value="${detail.amount}" /> <input
								type="hidden" name="text" th:value="${detail.text}" />
						</div>
						<button class="btn btn-outline-primary col-4" type="submit">CSVで出力</button>
					</form>
				</th:block>
				<div th:if="${errorMessages}">
					<ul class="errorMessages"
						th:each="errorMessages : ${errorMessages}">
						<li th:text="${errorMessages}"></li>
						<li>収支の登録は<a
							th:href="@{/NewCalculate/{id}(id=${loginUser.id})}">こちら</a></li>
					</ul>
				</div>
				<div hidden>
					<div id="total-expense">
						<th:block th:each="totalExpense:${totalExpenses}">
							<div class="total-expense-category">
								<span th:text="${totalExpense.key}" class="expense-category"></span>
								<span th:text="${totalExpense.value}" class="amount-expense"></span>
							</div>
						</th:block>
					</div>
					<div id="total-income">
						<th:block th:each="totalIncome:${totalIncomes}">
							<div class="total-income-category">
								<span th:text="${totalIncome.key}" class="income-category"></span>
								<span th:text="${totalIncome.value}" class="amount-income"></span>
							</div>
						</th:block>
					</div>
				</div>
				<div th:if="${errorMessages.isEmpty}">
					<div class="image">
						<canvas id="myPieChart" width="100" height="100" class="col-5"></canvas>
						<canvas id="myPieChart2" width="100" height="100" class="col-5"></canvas>
					</div>
				</div>
				<div class="sum">
					<div class="yearMonth">
						<span th:text="${yearMonth}"></span>度収支
					</div>
					<div>
						<span>支出：</span><span id="amount-expense"
							th:text="${#numbers.formatInteger(expense,1,'COMMA')}"></span>円
					</div>
					<div>
						<span>収入：</span><span id="amount-income"
							th:text="${#numbers.formatInteger(income,1,'COMMA')}"></span>円
					</div>
					<div>
						<span>差額：</span><span
							th:text="${#numbers.formatInteger(income-expense,1,'COMMA')}"></span>円
					</div>
				</div>
				<script type="text/javascript" th:src="@{/js/details.js}"></script>
				<script type="text/javascript" th:src="@{/js/create_chart.js}"></script>
				<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
				<script
					src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
				<script type="text/javascript" th:src="@{/js/ugoku.js}"></script>
				<script th:src="@{/js/PaginateMyTable.js}"></script>
				<script>
					$(document).ready(function() {
						$(".mytable").paginate();
					});
				</script>

			</div>
		</div>
	</div>
</body>
</html>