<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>Edit User</title>
		<link rel="stylesheet" type="text/css" href="../css/User.css">
		<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	    crossorigin="anonymous">

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

		<script src="../js/User.js"></script>
	</head>
	<body>
		<div id="particles-js"></div>
		<div id="wrapper">
			<div class="background-color" th:object="${formModel}">

				<ul class="text-danger">
					<li th:each="errorMessages : ${errorMessages}" th:text="${errorMessages}"></li>
				</ul>

				<!-- ハンバーガーメニュー -->
				<div class="hamburger">
					<div class="btn-group">
					  	<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					   		Menu
					  	</button>
					  	<div class="dropdown-menu">
					  		<form th:action="@{/}" method="get">
								<button class="dropdown-item" value="button">Top</button>
							</form>
							<form th:action="@{/details}" method="get">
								<button class="dropdown-item" value="button">明細一覧</button>
							</form>
							<form th:action="@{/NewCalculate/{id}(id=${formModel.id})}" method="get">
								<button value="button" class="dropdown-item">収支登録</button>
							</form>
							<form th:action="@{/EditUser/{id}(id=${formModel.id})}" method="get">
								<button value="button" class="dropdown-item">ユーザー編集</button>
							</form>
						    <div class="dropdown-divider"></div>
						    <form th:action="@{/Logout}" method="get">
								<button class="dropdown-item" value="button">ログアウト</button>
							</form>
						</div>
					</div>
				</div>
				<!-- ハンバーガーメニュー -->

				<div class="main">
					<form method="post" th:action="@{/Update/{id}(id=${formModel.id})}"
					 th:object="${formModel}">

						<h1>&#127800;ユーザー編集&#127800;</h1>

						<div class="input-group mb-3 mt-5">
						  	<div class="input-group-prepend">
							    <span class="input-group-text" id="inputGroup-sizing-default"
							    style="background-color: #FFDDFF;">　ユーザー名　</span>
							</div>
						  	<input type="text" name="name" class="form-control" aria-label="Sizing example input"
						  	aria-describedby="inputGroup-sizing-default" placeholder="Name" id="name"
						  	th:value="${formModel.name}" />
						</div>

						<div class="input-group mb-3" >
						  	<div class="input-group-prepend">
						    	<span class="input-group-text" id="inputGroup-sizing-default"
						    	style="background-color: #FFDDFF;">　パスワード　</span>
						  	</div>
						  	<input type="password" class="form-control mr-2" aria-label="Sizing example input"
						  	aria-describedby="inputGroup-sizing-sm" placeholder="Password" id="password"
						  	name="password">
						  	<div class="mt-2">
						  		<span id="buttonEye" class="fa fa-eye" onclick="pushHideButton()"></span>
						  	</div>
						</div>

						<div class="input-group mb-3">
						  	<div class="input-group-prepend">
						    	<span class="input-group-text" id="inputGroup-sizing-default"
						    	style="background-color: #FFDDFF;">確認パスワード</span>
						  	</div>
						  	<input type="password" class="form-control mr-2" aria-label="Sizing example input"
						  	aria-describedby="inputGroup-sizing-sm" placeholder="Password Again" id="passwordCheck"
						  	name="passwordCheck">
						  	<div class="mt-2">
						  		<span id="buttonEyeAgain" class="fa fa-eye" onclick="pushHideButtonAgain()"></span>
						  	</div>
						</div>

						<div class="input-group mb-3">
						  	<div class="input-group-prepend">
						    	<label class="input-group-text" for="inputGroupSelect01"
						    	style="background-color: #FFDDFF;">　　 年代 　　</label>
						  	</div>
						  	<select class="custom-select" id="inputGroupSelect01 age" name="age" size="2">
						    	<div th:if="${formModel.age} == 0">
									<option value="10" selected>10代</option>
									<option value="20">20代</option>
									<option value="30">30代</option>
									<option value="40">40代</option>
									<option value="50">50代</option>
									<option value="60">60代</option>
									<option value="70">70代</option>
									<option value="80">80代</option>
									<option value="90">90代</option>
									<option value="100">100代</option>
								</div>
								<div th:if="${formModel.age} == 10">
									<option value="10" selected>10代</option>
									<option value="20">20代</option>
									<option value="30">30代</option>
									<option value="40">40代</option>
									<option value="50">50代</option>
									<option value="60">60代</option>
									<option value="70">70代</option>
									<option value="80">80代</option>
									<option value="90">90代</option>
									<option value="100">100代</option>
								</div>
								<div th:if="${formModel.age} == 20">
									<option value="10">10代</option>
									<option value="20" selected>20代</option>
									<option value="30">30代</option>
									<option value="40">40代</option>
									<option value="50">50代</option>
									<option value="60">60代</option>
									<option value="70">70代</option>
									<option value="80">80代</option>
									<option value="90">90代</option>
									<option value="100">100代</option>
								</div>
								<div th:if="${formModel.age} == 30">
									<option value="10">10代</option>
									<option value="20">20代</option>
									<option value="30" selected>30代</option>
									<option value="40">40代</option>
									<option value="50">50代</option>
									<option value="60">60代</option>
									<option value="70">70代</option>
									<option value="80">80代</option>
									<option value="90">90代</option>
									<option value="100">100代</option>
								</div>
								<div th:if="${formModel.age} == 40">
									<option value="10">10代</option>
									<option value="20">20代</option>
									<option value="30">30代</option>
									<option value="40" selected>40代</option>
									<option value="50">50代</option>
									<option value="60">60代</option>
									<option value="70">70代</option>
									<option value="80">80代</option>
									<option value="90">90代</option>
									<option value="100">100代</option>
								</div>
								<div th:if="${formModel.age} == 50">
									<option value="10">10代</option>
									<option value="20">20代</option>
									<option value="30">30代</option>
									<option value="40">40代</option>
									<option value="50" selected>50代</option>
									<option value="60">60代</option>
									<option value="70">70代</option>
									<option value="80">80代</option>
									<option value="90">90代</option>
									<option value="100">100代</option>
								</div>
								<div th:if="${formModel.age} == 60">
									<option value="10">10代</option>
									<option value="20">20代</option>
									<option value="30">30代</option>
									<option value="40">40代</option>
									<option value="50">50代</option>
									<option value="60" selected>60代</option>
									<option value="70">70代</option>
									<option value="80">80代</option>
									<option value="90">90代</option>
									<option value="100">100代</option>
								</div>
								<div th:if="${formModel.age} == 70">
									<option value="10">10代</option>
									<option value="20">20代</option>
									<option value="30">30代</option>
									<option value="40">40代</option>
									<option value="50">50代</option>
									<option value="60">60代</option>
									<option value="70" selected>70代</option>
									<option value="80">80代</option>
									<option value="90">90代</option>
									<option value="100">100代</option>
								</div>
								<div th:if="${formModel.age} == 80">
									<option value="10">10代</option>
									<option value="20">20代</option>
									<option value="30">30代</option>
									<option value="40">40代</option>
									<option value="50">50代</option>
									<option value="60">60代</option>
									<option value="70">70代</option>
									<option value="80" selected>80代</option>
									<option value="90">90代</option>
									<option value="100">100代</option>
								</div>
								<div th:if="${formModel.age} == 90">
									<option value="10">10代</option>
									<option value="20">20代</option>
									<option value="30">30代</option>
									<option value="40">40代</option>
									<option value="50">50代</option>
									<option value="60">60代</option>
									<option value="70">70代</option>
									<option value="80">80代</option>
									<option value="90" selected>90代</option>
									<option value="100">100代</option>
								</div>
								<div th:if="${formModel.age} == 100">
									<option value="10">10代</option>
									<option value="20">20代</option>
									<option value="30">30代</option>
									<option value="40">40代</option>
									<option value="50">50代</option>
									<option value="60">60代</option>
									<option value="70">70代</option>
									<option value="80">80代</option>
									<option value="90">90代</option>
									<option value="100" selected>100代</option>
								</div>
							</select>
						</div>

						<input type="hidden" th:value="${formModel.gender}" name="gender"/>

						<div class="input-group mb-3">
						  	<div class="input-group-prepend">
						    	<span class="input-group-text" id="inputGroup-sizing-default"
						    	style="background-color: #FFDDFF;">　　貯蓄額　　</span>
						  	</div>
						  	<input name="saving" id="saving" class="form-control" th:value="${saving}"
						  	aria-label="Dollar amount (with dot and two decimal places)" maxlength="9"
						  	placeholder="Saving" style="text-align: right;">
						  	<div class="input-group-append">
						    	<span class="input-group-text">円</span>
						    </div>
						 </div>

						<button onclick="return confirmBtn()" class="btn btn-outline-info col-3 register" type="submit">
							登録
						</button>
					</form>

					<form action="/">
						<input class="btn btn-outline-secondary col-3 mt-3"  type="submit" value="戻る" />
					</form>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
		<script type="text/javascript" th:src="@{/js/ugoku.js}"></script>
	</body>
</html>