<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
<link rel="stylesheet" type="text/css" href="./css/Login.css">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	    crossorigin="anonymous">

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

<script type="text/javascript">
	function check() {
		if (window.confirm('ログインしますか？')) { // 確認ダイアログを表示
			return true; // 「OK」時は送信を実行
		} else { // 「キャンセル」時の処理
			window.alert('キャンセルされました'); // 警告ダイアログを表示
			return false; // 送信を中止
		}
	}
</script>
<script src="./js/Login.js"></script>
</head>
<body>
	<div id="particles-js"></div>
	<div id="wrapper">
	<div class="background-color">
		<div class="header">

			<p th:each="errorMessages : ${errorMessagesLogin}" th;if="${errorMessages != null}"
			th:text="${errorMessages}" class="text-danger"></p>

			<h1>&#127800;さくら家計簿&#127800;</h1>
			<div class="main">

				<form onSubmit="return check()" action="/login" method="post">

					<div class="input-group mb-5 mt-3">
					  	<div class="input-group-prepend">
						    <span class="input-group-text" id="inputGroup-sizing-default"
						    style="background-color: #FFDDFF;">ユーザー名</span>
						</div>
					  	<input type="text" name="name" class="form-control" aria-label="Sizing example input"
					  	aria-describedby="inputGroup-sizing-default" placeholder="Name" id="name"
					  	th:value="${formModel}" />
					</div>

					<div class="input-group mb-3" >
					  	<div class="input-group-prepend">
					    	<span class="input-group-text" id="inputGroup-sizing-default"
					    	style="background-color: #FFDDFF;">パスワード</span>
					  	</div>
					  	<input type="password" class="form-control mr-2" aria-label="Sizing example input"
					  	aria-describedby="inputGroup-sizing-sm" placeholder="Password" id="password"
					  	name="password">
					  	<div class="mt-2">
					  		<span id="buttonEye" class="fa fa-eye" onclick="pushHideButton()"></span>
					  	</div>
					</div>

					<button type="submit" class="btn btn-outline-primary" style="margin: 15px">
						ログイン
					</button><br />
				</form>
				<form action="/SignUp">
					<button type="submit" class="btn btn-outline-info" >新規登録</button>
				</form>
			</div>
		</div>
	</div>
	</div>
	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script type="text/javascript" th:src="@{/js/ugoku.js}"></script>
</body>
</html>