<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>収支登録画面</title>
<link rel="stylesheet" type="text/css" href="../css/Calculate.css">
		<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>

	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	    crossorigin="anonymous">

		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

		<script src="../js/User.js"></script>
<script type="text/javascript">
	function check() {
		if (window.confirm('収支を登録してよろしいですか？')) { // 確認ダイアログを表示
			return true; // 「OK」時は送信を実行
		} else { // 「キャンセル」時の処理
			return false; // 送信を中止
		}
	}
</script>
<script src="./js/User.js"></script>
</head>
<body>
	<div id="particles-js"></div>
	<div id="wrapper">
		<div class="background-color">
			<div class="width">
				<!-- ハンバーガーメニュー -->
				<div class="hamburger">
					<div class="btn-group">
					  	<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
					  	aria-haspopup="true" aria-expanded="false">Menu</button>
					  	<div class="dropdown-menu">
					  		<form th:action="@{/}" method="get">
								<button class="dropdown-item" value="button">Top</button>
							</form>
							<form th:action="@{/details}" method="get">
								<button class="dropdown-item" value="button">明細一覧</button>
							</form>
							<form th:action="@{/NewCalculate/{id}(id=${id})}" method="get">
								<button value="button" class="dropdown-item">収支登録</button>
							</form>
							<form th:action="@{/EditUser/{id}(id=${id})}" method="get">
								<button value="button" class="dropdown-item">ユーザー編集</button>
							</form>
						    <div class="dropdown-divider"></div>
						    <form th:action="@{/Logout}" method="get">
								<button class="dropdown-item" value="button">ログアウト</button>
							</form>
						</div>
					</div>
				</div>
				<!-- ハンバーガーメニュー -->
				<div class="main">
					<div class="select">
						<div th:if="${calculateId==0}">
							<form th:action="@{/NewCalculate/{id}(id=${id})}" method="get">
								<input class="change-btn btn-outline-primary" type="submit"
								style="background-color: #FFDDFF;" value="収入へ切替" />
								<input type="hidden" name="calculateId" value=1 />
							</form>
						</div>
						<div th:if="${calculateId==1}">
							<form th:action="@{/NewCalculate/{id}(id=${id})}" method="get">
								<input class="change-btn btn-outline-primary" type="submit"
								style="background-color: #FFDDFF;" value="支出へ切替" />
								<input type="hidden" name="calculateId" value=0 />
							</form>
						</div>
					</div>
					<ul class="text-danger">
						<li th:each="errorMessages : ${errorMessages}" th:text="${errorMessages}"></li>
					</ul>
					<div th:if="${calculateId==0}">
						<form onSubmit="return check()" method="post" th:action="@{/NewCalculate/{id}(id=${expense.userId})}"
							th:object="${expense}">
							<h1>&#127800;支出登録&#127800;</h1>

							<div class="input-group mb-3 mt-5">
							  	<div class="input-group-prepend">
							    	<label class="input-group-text" for="inputGroupSelect01"
							    	style="background-color: #FFDDFF;">支出カテゴリー</label>
							  	</div>
							  	<select class="custom-select" id="inputGroupSelect01 category" name="category"
							  	 size="3"  th:value="${expense.exCategoryId}">
								<div th:if="${expense.exCategoryId == 0}">
									<option th:each="category : ${category}" th:value="${category.id}"
									th:text="${category.name}" th:selected="${1 == category.id}">
									</option>
								</div>
								<div th:if="${expense.exCategoryId != 0}">
									<option th:each="category : ${category}" th:value="${category.id}"
									th:text="${category.name}" th:selected="${expense.exCategoryId == category.id}">
									</option>
								</div>
								</select>
							</div>

							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroup-sizing-sm"
									style="background-color: #FFDDFF;">　　 金額 　　</span>
								</div>
								<input name="money" id="money" class="form-control" th:value="${expense.amount}"
								aria-label="Dollar amount (with dot and two decimal places)" maxlength="9"
								style="text-align: right;">
								<div class="input-group-append">
									<span class="input-group-text">円</span>
								</div>
							</div>

							<div class="input-group mb-3">
							  	<div class="input-group-prepend">
								    <span class="input-group-text" id="inputGroup-sizing-default"
								    style="background-color: #FFDDFF;">　　 日付 　　</span>
								</div>
							  	<input type="date" name="date" class="form-control" th:value="${date}"
							  	aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
							</div>

							<div class="input-group mb-3">
							  	<div class="input-group-prepend">
							    	<span class="input-group-text" style="background-color: #FFDDFF;">
							    	　　 備考 　　
							    	</span>
							  	</div>
							  	<textarea class="form-control" aria-label="With textarea"
							  	name="text" th:text="${expense.text}" id="text" size="20" maxlength="1100">
							  	</textarea>
							</div>

							<input class="btn btn-outline-primary col-3" type="submit" value="登録" />
							<input type="hidden" name="calculateId" th:value=0 />
						</form>
					</div>
					<div th:if="${calculateId==1}">
						<form onSubmit="return check()" method="post" th:action="@{/NewCalculate/{id}(id=${income.userId})}"
							th:object="${income}">
							<h1>&#127800;収入登録&#127800;</h1>

							<div class="input-group mb-3 mt-5">
							  	<div class="input-group-prepend">
							    	<label class="input-group-text" for="inputGroupSelect01"
							    	style="background-color: #FFDDFF;">収入カテゴリー</label>
							  	</div>
							  	<select class="custom-select" id="inputGroupSelect01 category" name="category"
							  	 size="3" th:value="${income.inCategoryId}">
								<div th:if="${income.inCategoryId == 0}">
									<option th:each="category : ${category}" th:value="${category.id}"
									th:text="${category.name}" th:selected="${1 == category.id}">
									</option>
								</div>
								<div th:if="${income.inCategoryId != 0}">
									<option th:each="category : ${category}" th:value="${category.id}"
									th:text="${category.name}" th:selected="${income.inCategoryId == category.id}">
									</option>
								</div>
								</select>
							</div>

							<div class="input-group mb-3">
								<div class="input-group-prepend">
							    	<span class="input-group-text" id="inputGroup-sizing-sm"
							    	style="background-color: #FFDDFF;">　　 金額 　　</span>
								</div>
								<input name="money" id="money" class="form-control" th:value="${income.amount}"
								aria-label="Dollar amount (with dot and two decimal places)" maxlength="9"
								style="text-align: right;">
								<div class="input-group-append">
									<span class="input-group-text">円</span>
								</div>
							</div>

							<div class="input-group mb-3">
							  	<div class="input-group-prepend">
								    <span class="input-group-text" id="inputGroup-sizing-default"
								    style="background-color: #FFDDFF;">　　 日付 　　</span>
								</div>
							  	<input type="date" name="date" class="form-control" th:value="${date}"
							  	aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
							</div>

							<div class="input-group mb-3">
							  	<div class="input-group-prepend">
							    	<span class="input-group-text" style="background-color: #FFDDFF;">
							    	　　 備考 　　
							    	</span>
							  	</div>
							  	<textarea class="form-control" aria-label="With textarea"
							  	name="text" th:text="${income.text}" id="text" size="20" maxlength="1100">
							  	</textarea>
							</div>

							<input class="btn btn-outline-primary col-3" type="submit" value="登録" />
							<input type="hidden" name="calculateId" th:value=1 />
						</form>
					</div>
					<form action="/">
						<input class="btn btn-outline-secondary col-3 mt-3" type="submit" value="戻る" />
					</form>
					<div class="file" th:if="${calculateId==0}">
						<form method="post" action="/expensefile" enctype="multipart/form-data">
        					<label class="btn btn-outline-primary col-4 mb-3"><input type="file" name="file">ファイルを選択</label>
        					<p>選択されていません</p>
        					<script type="text/javascript">
        					$('input').on('change', function () {
        						var file = $(this).prop('files')[0];
        				    	$('p').text(file.name);
        					});
        					</script>
        					<input type="submit" class="btn btn-outline-primary col-3" name="upload_file" value="インポート">
        					<input type="hidden" name="_csrf.parameterName" value="_csrf.token" />
						</form>
					</div>
					<div class="file" th:if="${calculateId==1}">
						<form method="post" action="/incomefile" enctype="multipart/form-data">
        					<label class="btn btn-outline-primary col-4 mb-3"><input type="file" name="file">ファイルを選択</label>
        					<p>選択されていません</p>
        					<script type="text/javascript">
        					$('input').on('change', function () {
        						var file = $(this).prop('files')[0];
        						$('p').text(file.name);
        					});
        					</script>
        					<input type="submit" class="btn btn-outline-primary col-3" name="upload_file" value="インポート">
        					<input type="hidden" name="_csrf.parameterName" value="_csrf.token" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script type="text/javascript" th:src="@{/js/ugoku.js}"></script>
</body>
</html>