<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Top</title>
<link rel="stylesheet" type="text/css" href="./css/Top.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap"
	rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
	integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
	integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
	crossorigin="anonymous"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script src="./js/User.js"></script>
</head>
<body>
	<div class="main">
		<div id="particles-js"></div>
		<div id="wrapper">
			<div class="background-color">
				<ul class="text-danger" style="list-style: none">
					<li th:each="errorMessages : ${errorMessages}"
						th:text="${errorMessages}"></li>
				</ul>
				<!-- ハンバーガーメニュー -->
				<div th:each="loginUser : ${loginUser}">
					<div class="hamburger">
						<div class="btn-group">
							<button type="button" class="btn btn-success dropdown-toggle"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">Menu</button>
							<div class="dropdown-menu">
								<form th:action="@{/}" method="get">
									<button class="dropdown-item" value="button">Top</button>
								</form>
								<form th:action="@{/details}" method="get">
									<button class="dropdown-item" value="button">明細一覧</button>
								</form>
								<form th:action="@{/NewCalculate/{id}(id=${loginUser.id})}"
									method="get">
									<button value="button" class="dropdown-item">収支登録</button>
								</form>
								<form th:action="@{/EditUser/{id}(id=${loginUser.id})}"
									method="get">
									<button value="button" class="dropdown-item">ユーザー編集</button>
								</form>
								<div class="dropdown-divider"></div>
								<form th:action="@{/Logout}" method="get">
									<button class="dropdown-item" value="button">ログアウト</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- ハンバーガーメニュー -->
				<div class="header">
					<h1>&#127800;さくら家計簿&#127800;</h1>
				</div>

				<div class="content">
					<div hidden>
						<div id="total-expense">
							<th:block th:each="totalExpense:${totalExpenses}">
								<div class="total-expense-category">
									<span th:text="${totalExpense.key}" class="expense-category"></span>
									<span th:text="${totalExpense.value}" class="amount-expense"></span>
								</div>
							</th:block>
						</div>
						<div id="total-income">
							<th:block th:each="totalIncome:${totalIncomes}">
								<div class="total-income-category">
									<span th:text="${totalIncome.key}" class="income-category"></span>
									<span th:text="${totalIncome.value}" class="amount-income"></span>
								</div>
							</th:block>
						</div>
						<div id="search-expenese">
							<th:block th:each="searchExpense:${searchExpense}">
								<div class="search-expense-class">
									<span th:text="${searchExpense.key}"
										class="search-expense-category"></span> <span
										th:text="${searchExpense.value}" class="search-amount-expense"></span>
								</div>
							</th:block>
						</div>
						<div id="search-income">
							<th:block th:each="searchIncome:${searchIncome}">
								<div class="search-income-class">
									<span th:text="${searchIncome.key}"
										class="search-income-category"></span> <span
										th:text="${searchIncome.value}" class="search-amount-income"></span>
								</div>
							</th:block>
						</div>
						<div id="user-expenese">
							<th:block th:each="userExpense:${userExpenseList}">
								<div class="user-expense-class">
									<span th:text="${userExpense.key}"
										class="user-expense-category"></span> <span
										th:text="${userExpense.value}" class="user-amount-expense"></span>
								</div>
							</th:block>
						</div>
						<div id="user-income">
							<th:block th:each="userIncome:${userIncomeList}">
								<div class="user-income-class">
									<span th:text="${userIncome.key}" class="user-income-category"></span>
									<span th:text="${userIncome.value}" class="user-amount-income"></span>
								</div>
							</th:block>
						</div>

					</div>

					<th:block
						th:if="${totalExpenses.size()>0 || totalIncomes.size()>0}">

						<div class="image">
							<canvas id="myPieChart" width="100" height="100" class="col-5"></canvas>
							<canvas id="myPieChart2" width="100" height="100" class="col-5"></canvas>
						</div>
					</th:block>

					<th:block
						th:unless="${totalExpenses.size()>0 || totalIncomes.size()>0}">
						<div class="chart-message">今月分の収支が登録されていません<br>収支の登録は<a
							th:href="@{/NewCalculate/{id}(id=${loginUser.id})}">こちら</a></div>
					</th:block>

					<th:block th:if="${selectYear}">
						<div>
							<div th:if="${age == null}">
							<span th:text="全年代" id="age"></span><span
								th:text="${gender}" id="gender"></span><span>との比較</span>
							</div>

							<div th:if="${age != null}">
							<span th:text="${age}+代" id="age"></span><span
								th:text="${gender}" id="gender"></span><span>との比較</span>
							</div>
						</div>
						<th:block th:if="${searchExpense.size()}>0">
							<canvas id="ex_chart"></canvas>
						</th:block>
						<th:block th:if="${searchExpense.size()}==0">
							<div class="search-message">支出が登録されていません</div>
						</th:block>
						<th:block th:if="${searchIncome.size()}>0">
							<canvas id="in_chart"></canvas>
						</th:block>
						<th:block th:if="${searchIncome.size()}==0">
							<div class="search-message">収入が登録されていません</div>
						</th:block>
					</th:block>
				</div>

				<div>
					<form th:action="@{/}" th:method="get" class="search-form">
						<select name="selectAge">
							<option value="">--</option>
							<option value="10">10代</option>
							<option value="20">20代</option>
							<option value="30">30代</option>
							<option value="40">40代</option>
							<option value="50">50代</option>
							<option value="60">60代</option>
							<option value="70">70代</option>
							<option value="80">80代</option>
							<option value="90">90代</option>
							<option value="100">100代</option>
						</select> <select name="selectYear">
							<th:block th:each="searchYear : ${searchYears}">
								<option th:value="${searchYear}" th:text="${searchYear}+'年'"></option>
							</th:block>
						</select> <select name="selectMonth">
							<option value="01">1月</option>
							<option value="02">2月</option>
							<option value="03">3月</option>
							<option value="04">4月</option>
							<option value="05">5月</option>
							<option value="06">6月</option>
							<option value="07">7月</option>
							<option value="08">8月</option>
							<option value="09">9月</option>
							<option value="10">10月</option>
							<option value="11">11月</option>
							<option value="12">12月</option>
						</select> <select name="selectGender">
							<option value="">--</option>
							<option value="男性">男性</option>
							<option value="女性">女性</option>
						</select> <input type="submit" value="比較" />
					</form>
				</div>
				<div class="userinfo">
					<div th:each="loginUser : ${loginUser}">
						<h2 th:text="${loginUser.name}"></h2>
						<br /> 性別：<a th:text="${loginUser.gender}"></a><br /> 年代：<a
							th:text="${loginUser.age}"></a>代<br /> 貯蓄額：<a
							th:text="${#numbers.formatInteger(loginUser.money,1,'COMMA')}"></a>円
					</div>
				</div>
				<div class="sum">
					<h2 class="yearMonth">
						<span th:text="${yearMonth}"></span>度収支
					</h2>
					<div>
						<span>支出：</span><span id="amount-expense"
							th:text="${#numbers.formatInteger(expense,1,'COMMA')}"></span>円
					</div>
					<div>
						<span>収入：</span><span id="amount-income"
							th:text="${#numbers.formatInteger(income,1,'COMMA')}"></span>円
					</div>
					<div>
						<span>差額：</span><span
							th:text="${#numbers.formatInteger(income-expense,1,'COMMA')}"></span>円
					</div>

				</div>
				<footer>Copyright©️ 2022 SAKURA KAKEIBO INC. All Rights
					Reserved. </footer>
			</div>

		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script type="text/javascript" th:src="@{/js/ugoku.js}"></script>
	<script type="text/javascript" th:src="@{/js/create_chart.js}"></script>
	<script type="text/javascript" th:src="@{/js/create_bar_chart.js}"></script>

</body>
</html>